﻿@model PLScape.Domain.Models.User

@{
    ViewBag.Title = "Login";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>


</head>
<body>

    @using (Html.BeginForm("Login", "Login"))
    {
        @Html.ValidationSummary()
        <div class="form-group">
            <label>ID:</label>
            @Html.TextBoxFor(x => x._ID)
        </div>
        <br />
        <div class="form-group">
            <label>Password:</label>
            @Html.TextBoxFor(x => x._Password)
        </div>
        <br />
        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Sign in as Employee" name="employeeLogin" />
            <input class="btn btn-success" type="submit" value="Sign in as Admin" name="adminLogin" />
        </div>

    }

</body>
</html>