﻿
@{
    ViewBag.Title = "AdminHome";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>


</head>
<body>

    @using (Html.BeginForm("AdminAction", "Admin"))
    {
        
        <div class="text-center">
            <br />
            <input class="btn btn-success" type="submit" value="Vehicle Tracking" name="vehicleTracking" />
            <br />
            <br />
            <input class="btn btn-success" type="submit" value="Employee Information" name="employeeInfo" />
            <br />
            <br />
            <input class="btn btn-success" type="submit" value="Customer Information" name="customerInfo" />
            <br />
            <br />
            <input class="btn btn-success" type="submit" value="Work Scheduler" name="workScheduler" />
            <br />
            <br />
            <input class="btn btn-success" type="submit" value="Manage Assets" name="manageAssets" />
            
        </div>

    }

</body>
</html>

