﻿@model PLScape.Domain.Models.Job

@{
    ViewBag.Title = "CalendarView";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.print.css" rel="stylesheet" media="print"/>
    <script src="/Scripts/modernizr-2.6.2.js"></script>


</head>
<body>

    <div id="calendar"></div>
    @using (Html.BeginForm("AddJob", "Admin"))
    {
        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Add Job" name="addJob" />
        </div>
    }
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    @section Scripts{

       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js"></script>
       

    <script>
        $(document).ready(function(){
            var events = [];
            $.ajax({
                type: "GET",
                url : "/Admin/GetEvents",
                success: function (data) {
                    $.each(data, function(i, v) {
                        events.push({
                            title: v.Subkect,
                            description: v.Description,
                            start: moment(v.Start),
                            end: v.end != null ? moment(v.end) : null,
                            color: v.ThemeColour,
                            allDay: v.IsFullDay
                        });
                    })
                    GenerateCalendar(events);
                },
                error: function(error){
                    alert('Call for calendar view failed');
                }
            })
            function GenerateCalendar(events) {

                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:m)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColour: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
       })
    }
})
    </script>
        
        
        }

  
</body>
</html>

